@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');



:root{
    --offcanvas-width: 270px;
    --topNavbarHeight: 70px;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
    background-color:#d1d6d3;
}

.bg1{
    font-family: 'Roboto Condensed', sans-serif;
    background-color:#14adb8;
}
.sidebar-nav{
    width: var(--offcanvas-width);
    position: fixed;
}

main{
    position: relative;
}

.card-single {
    /* background: #fff; */
    border-radius: 7px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.5);
    margin-top: 1rem;
    width: 90%;
    padding: 10px;
}

/* table recent */
.recent{
    margin-top: 1rem;
}

.recent h3{
    margin-top: 1rem;
    /* color: var(--text-grey); */
}

.recent-table-card{
    background: #fff;
    border-radius: 7px;
}
 .col-md-123
 {
     padding-top: 60px;
  padding-bottom: 0px;
 }

 .col-md-1234
 {
     padding-top: 0px;
  padding-bottom: 0px;
 }
 

 

/* 
.sidebar-link{
    display: flex;
    align-items: center;
} */

@media (min-width:992px){

    body{
        overflow:auto !important;
    }

    .offcanvas-backdrop::before{
        display: none;
    }

    main{
        margin-left: var(--offcanvas-width);
    }

    .sidebar-nav{
        transform: none;
        visibility: visible !important;
        top:var(--topNavbarHeight);
        height: calc(100% - var(--topNavbarHeight)); 
      
    }

    .navbar-brand
    {

        font-size: 30px;
        font-family: 'Poppins', sans-serif;
        height: 20%;
    }

    .offcanvas ul li
    {
        position: relative;
        width: 100%;
        list-style: none;
        

    }

    .offcanvas-body ul li:hover
    {
            background: #72e1e9;
    }
    .offcanvas-body ul li:hover:nth-child(1){
        background: transparent;
    }
    .offcanvas-body ul li:hover:nth-child(2){
        background: transparent;
    }
    .offcanvas-body ul li:hover:nth-child(4){
        background: transparent;
    }
    .offcanvas-body ul li:hover:nth-child(6){
        background: transparent;
    }

    .cardbox
    {
        position: relative;
        width: 100%;
        padding:20px;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-gap: 20px;
        


    }

    .cardbox .card{
        position: relative;
        background: #fff;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
    }

    .cardbox .card .numbers
    {
        position: relative;
        font-size: 2em;
        font-weight: 500;
    }

    .cardbox .card .cardname
    {
        color:#999;

    }

    .cardbox .card .iconbox
    {

        font-size: 2em;
        color: #72e1e9;
    }

   


 
}

.details
{
    position: relative;
    width:100%;
    padding: 20px;
    display: grid;

    padding-top: 0;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
}

.details .recentactivities
{
    position: relative;
    display: grid;
    min-height: 380px;
    background: #fff;
    padding:20px;

}
.cardheader
{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.cardheader h2{
    font-weight: 600;
}
.btn
{
    position: relative;
    padding: 5px 10px;
    background: #72e1e9;
    color:#fff;
    text-decoration: none;
    border-radius: 6px;
}

.details table
{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;

}

.details table thead td {
    font-weight: 600;

}

.details .recentactivities table tr {
    border-bottom: 1px solid rgba(0,0,0,0.1)


}
.details .recentactivities table tbody tr:hover {
   background: #72e1e9;
   color: #fff;


}
.details .recentactivities table tbody tr:last-child {
   border-bottom: none;
 
 
 }

 .details .recentactivities table tr td{
  padding:9px 5px;


}
.details .recentactivities table thead tr td:last-child,
.details .recentactivities table tbody tr td:last-child{
    text-align: right;
  
  }

  .details .recentactivities table thead tr td:nth-child(2),
.details .recentactivities table tbody tr td:nth-child(2){
    text-align: right;
  padding-right: 20px;
  }

  .details .recentactivities table thead tr td:nth-child(3),
  .details .recentactivities table tbody tr td:nth-child(3){
      text-align: center;
   
    }
.status
{
    position: relative;
    padding: 2px 4px;
    background: #f00;
    color:#fff;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
}

.pagadian
{
    background: #72e1e9;
}

.details .recentosca
{
    position:relative;
    display: grid;
    min-height: 380px;
    background: #fff;
    padding: 20px;
}

.admin
{
    font-weight: 600;
    font-size: 24px;
}

.dashboard
{
    font-weight: 400;
    font-size: 22px;
}

.cash
{
    font-weight: 400;
    font-size: 22px;
}
.social
{
    font-weight: 400;
    font-size: 22px;
}
.profile
{
    font-weight: 400;
    font-size: 22px;
}
.users
{
    font-weight: 400;
    font-size: 22px;
}

.export
{
    font-weight: 400;
    font-size: 22px;
}

.logout
{
    font-weight: 400;
    font-size: 22px;
}

.dropdown-divider
{
    color: white;
}





  